<p>
  二人の名前を入れてください<i class="icono-heart"></i>
</p>

<form class="pure-form pure-form-aligned" action="/fortune/result" method="get">
        <div class="pure-control-group">
            <label for="name">あなたの名前</label>
            <input name="name" type="text" placeholder="(例) 山田太郎">
        </div>

        <div class="pure-control-group">
            <label for="partner_name">お相手の名前</label>
            <input name="partner_name" type="text" placeholder="(例) 山田花子">
        </div>

        <div class="pure-controls">
          <button type="submit" class="pure-button pure-button-primary" value="送信">占う☆</button>
        </div>
</form>
